services:

  database:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ""
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: employee_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network

  backend:
    build: ./employee-api
    container_name: spring-backend
    restart: always
    depends_on:
      - database
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://database:3306/employee_db?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: ""
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    ports:
      - "8080:8080"
    networks:
      - app-network

  frontend:
    build: ./employee-app
    container_name: angular-frontend
    restart: always
    depends_on:
      - backend
    environment:
      API_URL: http://backend:8080  # Angular peut contacter le backend par le nom du service
    ports:
      - "4200:4200"
    networks:
      - app-network

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge